@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  --yellow: #f5e51c;
  --purple: #7109b6;
  --green: #76f420;
  --red: #cf360c;
  --lightGreen: #0ffa61;
  --darkGreen: #036325;
  --lightBlue: #4bc9f1;
  --darkBlue: #3a0ca3;
}
body {
  margin: 0;
}
* {
  font-family: "Poppins";
}
